__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json

# dataset
dataset/*.npy
dataset/*.txt
dataset/*.bin
dataset/*.idx
dataset/*.json

# results
results/*

# hostfile
hostfile*

# jobs
abci/jobs/results/*

# apex
apex

